.generale{
    width: 80vw;
    height: 90vh;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    @media (min-width: 740px){
        width: 90vw;
    }
}

.first{
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-size: 18px;
    flex-direction: column;
    @media (min-width: 740px){
        font-size: 22px;
    }
    &__title{
        font-size: 22px;
        text-align: center;
        line-height: 35px;
        @media (min-width: 740px){
            font-size: 26px;
        }
    }
}

.button{
    background-color: #c29294;
    color: white;
    letter-spacing: 2px;
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    font-size: 20px;
    cursor: pointer;
}

.previus{
    background-color: transparent; 
    border: none;
    border-radius: 30px;
    padding: 20px 30px;
    font-size: 15px;
}

.end{
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 40px;
    color: black;
    font-size: 18px;
    flex-direction: column;
    &__title{
        font-size: 22px;
        text-align: center;
    }
}

.response{
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-around;
    text-align: center;
}